<div class="row">
    <div class="col-md-4">
       <form action="FindAds" method="get">
           @Html.TextBox("text")
           <input type="submit" value="Find" />
       </form>
    </div>
</div>