@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@Html.ActionLink("Create ad", "Create", "Advertisement", null, new {  @class="button"})</h1>
    <h1 class="display-4">@Html.ActionLink("Find ads", "FindAds", "Advertisement", null, new {  @class="button"})</h1>
    <h1 class="display-4">@Html.ActionLink("See all", "Index", "Advertisement", null, new {  @class="button"})</h1>
</div>
