@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@Html.ActionLink("Create ad", "Create", "Advertisement")</h1>
    <h1 class="display-4">@Html.ActionLink("Find ads", "FindAdsAsync", "Advertisement")</h1>
    <h1 class="display-4">@Html.ActionLink("See all", "Index", "Advertisement")</h1>
</div>
